.home {
  position: relative;
  height: 100%;
  background: #eef0f3;
}
.el-container {
  position: relative;
  height: 100%;
}
.el-header {
  position: relative;
  background: #fefefe;
  padding: 0;
}
.navbar {
  position: relative;
  line-height: 50px;
  box-shadow: 0 2px 2px rgb(230, 230, 230);
}
.menu-button {
  position: relative;
  float: left;
  margin-left: 1rem;
  height: 50px;
  font-size: 1.5rem;
  color: #686868;
  transition: 0.3s;
  cursor: pointer;
}
.el-icon-s-unfold,
.el-icon-circle-close {
  transition: 0.3s;
}
.el-icon-s-unfold:active {
  color: rgb(19, 180, 255);
}
.el-menu {
  background: transparent;
  width: 200px;
}
.el-menu--collapse {
  width: 63px;
}
.el-menu-item {
  position: relative;
}
.el-icon-circle-close {
  position: relative;
  margin-left: 0.8rem;
}
.el-icon-circle-close:active {
  color: rgb(19, 180, 255);
}
.el-dropdown {
  position: relative;
  float: right;
}
.image {
  height: 100%;
  border-radius: 1rem;
}
.line {
  position: relative;
  height: 0;
  border: 1px solid #eee;
}
.tabs {
  position: relative;
  background: #ffffff;
}
.el-icon-caret-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}
.breadcrumb {
  position: relative;
  float: left;
  top: -1px;
  left: 5px;
}
.avatar-box {
  position: relative;
  float: right;
  margin-right: 5px;
}
.avatar-box-horizontal {
  position: relative;
}
.avatar-dropdown {
  position: relative;
  height: 40px;
}
.icon-box {
  position: relative;
  float: right;
  top: 0.2rem;
  right: 1rem;
  height: 50px;
  line-height: 50px;
  color: #676767;
  text-align: center;
  transition: 0.3s;
}
.table-size {
  position: relative;
  top: -4px;
  margin-left: 0.8rem;
  font-size: 20px;
}
.el-icon-s-tools,
.el-icon-question {
  position: relative;
  top: 1px;
  margin-right: 0.8rem;
  font-size: 25px;
}
.el-icon-full-screen,
.el-icon-s-tools,
.iconfullscreenexit,
.el-icon-question {
  cursor: pointer;
  transition: 0.3s;
}
.el-icon-full-screen:active {
  color: rgb(19, 180, 255);
}
.el-icon-s-tools:active {
  color: rgb(19, 180, 255);
}
.el-icon-question:active {
  color: rgb(19, 180, 255);
}
.iconfullscreenexit:active {
  color: rgb(19, 180, 255);
}
.el-icon-full-screen {
  font-size: 22px;
}
.drawer-menu {
  /deep/ {
    .ivu-drawer-body {
      padding: 0;
      .el-scrollbar {
        /deep/ {
          .el-scrollbar__wrap {
            overflow-x: hidden;
          }
        }
      }
    }
    .ivu-drawer-content {
      background: #2e3f54;
    }
  }
}
.menu-scrollbar,
.menu-horizontal-scrollbar {
  background: #2d3e53;
  /deep/ {
    .el-scrollbar__wrap {
      overflow-x: hidden;
    }
  }
}
.search-menu-input {
  position: relative;
  display: inline-block;
  top: -8px;
  left: -19px;
}
.menu-horizontal {
  position: relative;
  display: flex;
}
.logo-verticle {
  position: relative;
  margin: 23px 0;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  text-align: center;
  /deep/ {
    .image-slot {
      position: relative;
      background: #f5f7fa;
      .el-icon-picture-outline {
        position: relative;
        line-height: 5rem;
      }
    }
  }
}
.el-divider {
  position: relative;
  margin-top: 0;
}
.menu-horizontal-item {
  flex: 1;
  display: inline-block;
}
.logo-horizontal {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
  top: 0.4rem;
  line-height: 3rem;
  min-width: 10rem;
  max-width: 10rem;
  height: 50px;
  text-align: center;
  /deep/ {
    .image-slot {
      position: relative;
      background: #f5f7fa;
      .el-icon-picture-outline {
        position: relative;
        line-height: 50px;
      }
    }
  }
}
.back-top {
  position: fixed;
  z-index: 1500;
  right: 50px;
  bottom: 100px;
}
.to-top {
  position: relative;
  transform: scale(0);
  transition: 0.3s;
}
.radio-box {
  position: relative;
}
.top {
  position: relative;
  padding: 0;
  overflow-x: hidden;
}
.footer {
  padding: 0;
  .coppy-right {
    position: relative;
    line-height: 29px;
    height: 29px;
    background: #fefefe;
    border-top: 1px solid #dcdfe6;
    color: #666;
    white-space: pre-wrap;
    text-indent: 1.3rem;
    letter-spacing: 1px;
    font-size: 0.7rem;
  }
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}
.mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}

.flex-box {
  position: relative;
  display: flex;
}

.refresh-button {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
