	pre {
		padding: 0!important;
	}
	.markdown-section pre > code {
		font-size: 1rem;
		line-height: 1.8rem;
	}
	.markdown-section code {
		font-size: 1rem;
	}
	.active>a {
		color: #0074d9!important;
	}
	.sidebar li.active {
		background: rgb(251, 251, 251)!important;
	}