.home {
  position: relative;
  height: 100%;
  background: #eef0f3;
}
.el-container {
  position: relative;
  height: 100%;
}
.el-header {
  position: relative;
  background: #fefefe;
  padding: 0;
}
.navbar {
  position: relative;
  line-height: 50px;
  box-shadow: 0 2px 2px rgb(230, 230, 230);
}
.menu-button {
  position: relative;
  float: left;
  margin-left: 1rem;
  height: 50px;
  font-size: 1.5rem;
  color: #686868;
  transition: .3s;
  cursor: pointer;
}
.el-icon-s-unfold, .el-icon-circle-close {
  transition: .3s;
}
.el-icon-s-unfold:active {
  color: rgb(19, 180, 255);
}
.el-menu {
width: 200px;
}
.el-menu--collapse {
width: 63px;
}
.el-menu-item {
  position: relative;
}
.el-icon-circle-close {
  position: relative;
  margin-left: .8rem;
}
.el-icon-circle-close:active {
  color: rgb(19, 180, 255);
}
.el-breadcrumb {
  position: relative;
  float: left;
  left: 20px;
  top: 20px;
}
.el-dropdown {
  position: relative;
  float: right;
}
.image {
  height: 100%;
  border-radius: 1rem;
}
.line {
  position: relative;
  height: 0;
  border: 1px solid #eee;
}
.tabs {
  position: relative;
  background: #ffffff;
}
.el-icon-caret-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}
.avatar-box {
  position: relative;
  float: right;
}
.avatar-box-horizontal {
  position: relative;
}
.icon-box {
  position: relative;
  float: right;
  top: .2rem;
  right: 1rem;
  height: 50px;
  line-height: 50px;
  color: #676767;
  text-align: center;
  transition: .3s;
}
.el-icon-s-tools {
  position: relative;
  top: 1px;
  margin-right: .8rem;
  font-size: 25px;
}
.el-icon-full-screen, .el-icon-s-tools, .iconfullscreenexit {
  transition: .3s;
}
.el-icon-full-screen:active {
  color: rgb(19, 180, 255);
}
.el-icon-s-tools:active {
  color: rgb(19, 180, 255);
}
.iconfullscreenexit:active {
  color: rgb(19, 180, 255);
}
.el-icon-full-screen {
  font-size: 22px;
}
.drawer-menu {
  /deep/ {
    .ivu-drawer-body {
      padding: 0;
    }
    .ivu-drawer-content {
      background: #2e3f54;
    }
  }
}
.menu-scrollbar {
  background: #2d3e53;
}
.menu-horizontal {
  position: relative;
  display: flex;
}
.logo-verticle {
  position: relative;
  margin-top: 1rem;
  line-height: 4rem;
  width: 12.5rem;
  text-align: center;
}
.menu-horizontal-item {
  flex: 1;
  display: inline-block;
}
.logo-horizontal {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
  top: .4rem;
  line-height: 3rem;
  min-width: 10rem;
  max-width: 10rem;
  text-align: center;
}
.logo-verticle > img {
  position: relative;
  vertical-align: middle;
  width: 80%;
}
.logo-horizontal > img {
  width: 100%;
  vertical-align: middle;
}
.switch-box {
  position: relative;
  margin: 1rem 0;
  text-align: right;
}
.box {
  position: relative;
  margin: 1rem .5rem;
}
.tips {
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 1rem;
}
.button {
  position: relative;
  margin: .5rem 0;
}
.back-top {
  position: fixed;
  z-index: 1500;
  right: 50px;
  bottom: 100px;
}
.button-bottom {
  position: relative;
  margin-top: 5rem;
}
.radio-box {
  position: relative;
}
.xz-animation-enter-active {
  transition: all .6s .7s;
}
.xz-animation-leave-active {
  transition: all .6s;
}
.xz-animation-enter, .xz-animation-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}