html,
body {
    margin: 0;
    height: 100%;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.el-form--label-top .el-form-item__label {
    padding: 0!important;
}
.el-select {
    position: relative;
    width: 100%;
}
.el-input-number {
    width: 100%;
}
.el-container {
    flex-basis: 0;
}
.el-menu {
    border-right: none;
}
.el-table {
    margin: 1rem 0;
}
.el-menu-item {
    background: none!important;
}
.el-menu--popup {
    background: #1e2c3c!important;
}
.el-menu-item:hover {
    background: #253344!important;
}
.el-menu-item-group {
    background: #1e2c3c;
}
.el-breadcrumb__inner {
    color: #8a8a95;
}
.el-col-8 {
    padding: 0!important;
}
.el-menu-item-group__title {
    padding: 0;
}
.interval-top {
    margin-top: 1rem;
}
.interval-left {
    margin-left: 1rem;
}
.interval-right {
    margin-right: 1rem;
}
.interval-bottom {
    margin-bottom: 1rem;
}
.select-input{
    width: 6rem;
}
.search-input {
    width: 12rem;
}
.margin-box {
    margin: .3rem!important;
}
.is-circle {
    margin: 0;
    padding: 0;
}
.el-range-separator {
    width: 2rem!important;
}
.el-date-editor--datetimerange {
    width: 20rem!important;
}
.border {
    position: relative;
    border-top: 1px solid #dbdee5;
}
.button-box {
    position: relative;
    margin: 1rem 0 2rem 0;
}
.tree-box {
    position: relative;
    margin: 1rem 0;
}
.title {
    font-size: 14px;
    line-height: 40px;
    color: #606266;
    vertical-align: middle;
    box-sizing: border-box;
}
.line {
    position: relative;
    text-align: center;
}
.pagination {
    position: relative;
    text-align: right;
}
.name-wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.button-right {
    margin-right: .3rem;
}
.button-right-circle {
    margin-right: .7rem;
}
.menu-icon {
    position: relative;
    margin: 0 4px;
    top: 2px;
}
.el-submenu__title {
    overflow: hidden!important;
}

@media screen and (min-width: 1920px){
    .card-gutter-xl {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1920px){
    .card-gutter-lg {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1200px){
    .card-gutter-md {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 992px){
    .card-gutter-sm {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .card-gutter-xs {
        margin-top: 1rem;
    }
} 