html,
body {
    margin: 0;
    height: 100%;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.el-form--label-top .el-form-item__label {
    padding: 0!important;
}
.el-select {
    position: relative;
    width: 100%;
}
.el-input-number {
    width: 100%;
}
.el-container {
    flex-basis: 0;
}
.el-menu {
    border-right: none;
}
.el-table {
    margin: 1rem 0;
}
.el-menu-item {
    background: none!important;
}
.el-menu--popup {
    background: #1e2c3c!important;
}
.el-menu-item:hover {
    background: #253344!important;
}
.el-menu-item-group {
    background: #1e2c3c;
}
.interval-top {
    margin-top: 1rem;
}
.interval-left {
    margin-left: 1rem;
}
.interval-right {
    margin-right: 1rem;
}
.interval-bottom {
    margin-bottom: 1rem;
}
.select-input{
    width: 7rem;
    margin: 0 .5rem;
}
.search-input {
    width: 15rem;
}
.is-circle {
    margin-left: .3rem;
}
.border {
    position: relative;
    border-top: 1px solid #dbdee5;
}
.button-box {
    position: relative;
    margin: 1rem 0 2rem 0;
}
.tree-box {
    position: relative;
    margin: 1rem 0;
}
.title {
    font-size: 14px;
    line-height: 40px;
    color: #606266;
    vertical-align: middle;
    box-sizing: border-box;
}
.line {
    position: relative;
    text-align: center;
}
.pagination {
    position: relative;
    text-align: right;
}
@media screen and (min-width: 0) and (max-width: 992px) {
    .card-gutter {
        margin-top: 1rem;
    }
}