.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(../../../assets/login/background.png);
  background-position: center;
  z-index: -1;
  opacity: 0.5;
}
.mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}
.setting {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
  background: #f7f7f7;
  cursor: pointer;
  transition: 0.5s;
}
.el-icon-setting {
  font-size: 1.5rem;
  line-height: 3rem;
}
.setting:hover {
  transform: rotate(360deg) scale(1.1);
  color: #fefefe;
  background: rgb(19, 180, 255);
}
.code-box {
	display: flex;
}
.code-image {
	width: 200px;
	margin-left: 1rem;
}
.lowin {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Segoe UI';
	font-size: 14px;
}

.lowin .lowin-wrapper {
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
	position: relative;
	height: 100%;
	width: 360px;
	margin: 0 auto;
}

.lowin a {
	color: #0081C6;
	text-decoration: none;
	border-bottom: 1px dashed rgba(0, 129, 198, .45);
	margin-top: -3px;
	padding-bottom: 2px;
}

.lowin * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.lowin .lowin-brand {
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: 0 auto -50px auto;
	border-radius: 50%;
	-webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, .07);
	        box-shadow: 0 4px 40px rgba(0, 0, 0, .07);
	padding: 10px;
	background-color: #fff;
	z-index: 1;
	position: relative;
}

.lowin .lowin-brand img {
	width: 100%;
	transition: .5s;
}

.lowin .lowin-box {
	width: 100%;
	left: 0;
	transition: 0.5s;
}

.lowin:hover  {
	.lowin-box {
		transform: translateY(-0.5%) scale(1.01);
	}
	.lowin-brand img {
		transform: rotate(360deg);
	}
	.lowin-brand {
		transform: translateY(-1%);
	}
}

.login {
	animation: show 1s ease;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.lowin .lowin-box-inner {
	background-color: #fff;
	-webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
	        box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
	padding: 60px 25px 25px 25px;
	text-align: left;
	border-radius: 3px;
}

.lowin .lowin-box::after {
	content: ' ';
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .1);
	        box-shadow: 0 0 25px rgba(0, 0, 0, .1);
	-webkit-transform: translate(0, -92.6%) scale(.88);
	    -ms-transform: translate(0, -92.6%) scale(.88);
	        transform: translate(0, -92.6%) scale(.88);
	border-radius: 3px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: -1;
}

.lowin .lowin-box.lowin-flip {
	-webkit-transform: rotate3d(0, 1, 0, -180deg);
	        transform: rotate3d(0, 1, 0, -180deg);
	display: none;
	opacity: 0;
}

.lowin .lowin-box p {
	color: rgba(0, 129, 198, .45);
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
}

.lowin .lowin-box .lowin-group {
	margin-bottom: 30px;
}

.lowin .lowin-box label {
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
	color: rgba(0, 129, 198, .45);
	font-weight: 700;
}

.lowin .lowin-box label a {
	float: right;
}

.lowin .lowin-box .lowin-input {
	background-color: rgba(0, 129, 198, .05);
	color: rgba(0, 129, 198, .7);
	border: none;
	border-radius: 3px;
	padding: 15px 20px;
	width: 100%;
	outline: 0;
}

.lowin .lowin-box .lowin-btn {
	display: inline-block;
	text-align: center;
	width: 100%;
	border: none;
	color: #fff;
	padding: 15px;
	border-radius: 3px;
	background-color: #0081C6;
	-webkit-box-shadow: 0 2px 7px rgba(0, 129, 198, .45);
	        box-shadow: 0 2px 7px rgba(0, 129, 198, .45);
	font-weight: 700;
	outline: 0;
	cursor: pointer;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.lowin .lowin-box .lowin-btn:active {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.lowin .lowin-box .lowin-btn:hover {
	opacity: .9;
}

.lowin .text-foot {
	text-align: center;
	padding: 10px;
	font-weight: 700;
	margin-top: 20px;
	color: rgba(0, 129, 198, .45);
}

.lowin .lowin-footer {
	text-align: center;
	margin: 30px 0;
	font-size: 12px;
	color: rgba(0, 129, 198, .45);
	font-weight: 700;
}

.lowin .login-back-link {
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	display: none;
	opacity: 0;
}

@media screen and (max-width: 650px) {
  .lowin-box {
    width: 22.5rem!important;
  }
}

@media screen and (max-width: 400px) {
  .lowin-box {
    width: 100%!important;
  }
}