.bread-list-enter-active, .bread-list-leave-active {
  transition: all .5s;
}

.bread-list-enter, .bread-list-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.bread-list-move {
  transition: all .5s;
}

.bread-list-leave-active {
  position: absolute;
}

.xz-animation-enter-active, .xz-animation-leave-active {
  transition: all .5s;
}

.xz-animation-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.xz-animation-leave-to {
  opacity: 0;
  transform: translateX(30px);
}