.el-submenu__title {
  overflow: hidden!important;
}

.el-submenu__title:hover {
  background: rgba(206, 206, 206, 0.3)!important;
}

.el-submenu__title {
  background: none!important;
}

.el-range-separator {
  width: 2rem!important;
}

.el-date-editor--datetimerange {
  width: 20rem!important;
}

.el-form--label-top .el-form-item__label {
  padding: 0!important;
}

.el-select {
  position: relative;
  width: 100%;
}

.el-input-number {
  width: 100%;
}

.el-container {
  flex-basis: 0;
}

.el-color-picker {
  height: auto!important;
}

.el-menu {
  border-right: none!important;
}

.el-table {
  margin: 1rem 0;
}

.el-menu-item {
  background: none!important;
}

.el-menu-item:hover {
  background: rgba(206, 206, 206, 0.3)!important;
}

.el-breadcrumb__inner {
  color: #8a8a95;
}

.el-col-8 {
  padding: 0!important;
}

.el-menu-item-group__title {
  padding: 0!important;
}

/* 格式化卡片样式 */
.el-card {
  opacity: .9!important;
  border: 1px solid transparent!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
}

.el-card:hover {
  border: 1px solid #EBEEF5!important;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1)!important;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1)!important;
}