@media screen and (min-width: 1920px) {
  .card-gutter-xl {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1919px) {
  .card-gutter-lg {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1199px) {
  .card-gutter-md {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .card-gutter-sm {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .card-gutter-xs {
    margin-top: 1rem;
  }
}