.header {
  position: relative;
  font-size: 1rem;
  color: #2f3032;
}
.avatar-box {
  position: relative;
  text-align: center;
}
.avatar {
  position: relative;
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.avatar:hover .hover-plus {
  opacity: 1;
}
.hover-plus {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  background: rgba(0, 0, 0, .5);
  transition: .3s;
}
.add-avatar {
  position: relative;
  font-size: 2rem;
  color: #d6d6d6;
  top: 50%;
  margin-top: -1rem;
}
.upload-button {
  position: absolute; 
  right: -5px; 
  top: -10px; 
  z-index: 100; 
  opacity: .8
}
.image-box {
  position: relative;
}
.image {
  position: relative;
  width: 100%;
  height: 100%;
}
.role {
  position: relative;
  font-size: 1.1rem;
  font-weight: bold;
}
.name {
  font-size: 1rem;
  color: #7d7d7d;
}
.title {
  position: relative;
  margin: 2rem 0 1rem 0;
}
.word {
  position: relative;
  padding-left: 0.3rem;
}
.content {
  position: relative;
  font-size: 0.9rem;
}
.timeline-title {
  color: #7d7d7d;
}
.timeline-content {
  font-size: 0.8rem;
}
.el-button--text {
  font-size: 0.8rem;
  padding: 0;
}